.addTextInput {
  display: flex;
  flex-direction: column;
}

@mixin similarProps {
  padding: 10px;
  font-weight: bold;
  outline: none;
  border: none;
}

.input-box {
  @include similarProps;
  margin: 10px;
  border-bottom: 1px solid black;
  font-size: 20px;
  font-family: monospace;
}

.addTextBtn {
  @include similarProps;
  font-size: 1em;
  max-width: max-content;
  align-self: center;
  border-radius: 10px;
  background-color: rgb(104, 174, 231);
  color: white;
}

.addTextBtn:hover {
  cursor: pointer;
  background-color: rgb(62, 151, 224);
}
